<template>
    <div class="block block-rounded block-bordered">
        <div class="block-header block-header-default block-header-rtl">
            <h3 class="block-title">Records
                <small>Advanced Search</small>
            </h3>
            <div class="block-options">
                <button type="button" class="btn btn-sm btn-danger" v-on:click="downloadRecords"><i class="fa fa-file-pdf"></i> PDF</button>
                <download-excel
                        class="btn btn-success btn-sm"
                        :fetch="getAllRecords"
                        :data="records"
                        :fields="record_fields"
                        worksheet="My Worksheet"
                        type="csv"
                        name="records.csv">
                    <i class="fa fa-file-excel"></i> CSV
                </download-excel>
            </div>
        </div>

        <div class="block-content block-content-full">
            <div class="form-inline mb-4">
                <div class="input-group mb-2 mr-2 mb-sm-0">
                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        ISRC(s) =
                                    </span>
                    </div>
                    <v-select class="form-control" multiple v-model="isrc" :options="options" v-on:search:focus="getOptions('isrc')" @input="searchRecords"></v-select>
                </div>
                <div class="input-group mb-2 mr-2 mb-sm-0">
                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Label(s) =
                                    </span>
                    </div>
                    <v-select class="form-control" multiple v-model="label" :options="options" v-on:search:focus="getOptions('label')" @input="searchRecords"></v-select>
                </div>
                <div class="input-group mb-2 mr-2 mb-sm-0">
                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Artist(s) =
                                    </span>
                    </div>
                    <v-select class="form-control" multiple v-model="artist" :options="options" v-on:search:focus="getOptions('artist')" @input="searchRecords"></v-select>
                </div>
                <div class="input-group mb-2 mr-2 mb-sm-0">
                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Product Title(s) =
                                    </span>
                    </div>
                    <v-select class="form-control" multiple v-model="product_title" :options="options" v-on:search:focus="getOptions('product_title')" @input="searchRecords"></v-select>
                </div>
                <div class="input-group mb-2 mr-2 mb-sm-0">
                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Country =
                                    </span>
                    </div>
                    <v-select class="form-control" multiple v-model="country" :options="options" v-on:search:focus="getOptions('consumer_country')" @input="searchRecords"></v-select>
                </div>
                <div class="input-group mb-2 mr-2 mb-sm-0">
                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Order By
                                    </span>
                    </div>
                    <v-select class="form-control" v-model="order" :options="['isrc','label','artist','product_title','country','start_at','end_at']" @input="searchRecords"></v-select>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center" style="width: 80px;">#</th>
                        <th>Company Code</th>
                        <th>Company Name</th>
                        <th>Payee Code</th>
                        <th>Payee Name</th>
                        <th>Account Code</th>
                        <th>Account Name</th>
                        <th>Sales Reference</th>
                        <th>Catalog Code</th>
                        <th>Product Title</th>
                        <th>Format</th>
                        <th>Artist Name</th>
                        <th>Track Title</th>
                        <th>ISRC Code</th>
                        <th>Track Code</th>
                        <th>Territory Code</th>
                        <th>Territory Name</th>
                        <th>Price Line</th>
                        <th>Price Line</th>
                        <th>Dist Channel Code</th>
                        <th>Sales Channel</th>
                        <th>Sales Source</th>
                        <th>Value Converted</th>
                        <th>Rate Type</th>
                        <th>Rate Payable</th>
                        <th>Pro Rata Share</th>
                        <th>Contract %</th>
                        <th>Sales %</th>
                        <th>Units</th>
                        <th>Calculated Royalty</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="record in records">
                        <td class="text-center" style="width: 80px;">#</td>
                        <td>{{record.company_code}}</td>
                        <td>{{record.company_name}}</td>
                        <td>{{record.payee_code}}</td>
                        <td>{{record.payee_name}}</td>
                        <td>{{record.account_code}}</td>
                        <td>{{record.account_name}}</td>
                        <td>{{record.sales_reference}}</td>
                        <td>{{record.catalog_code}}</td>
                        <td>{{record.product_title}}</td>
                        <td>{{record.format}}</td>
                        <td>{{record.artist_name}}</td>
                        <td>{{record.track_title}}</td>
                        <td>{{record.isrc_code}}</td>
                        <td>{{record.track_code}}</td>
                        <td>{{record.territory_code}}</td>
                        <td>{{record.territory_name}}</td>
                        <td>{{record.price_line}}</td>
                        <td>{{record.price_line}}</td>
                        <td>{{record.dist_channel_code}}</td>
                        <td>{{record.sales_channel}}</td>
                        <td>{{record.sales_source}}</td>
                        <td>{{record.value_converted}}</td>
                        <td>{{record.rate_type}}</td>
                        <td>{{record.rate_payable}}</td>
                        <td>{{record.pro_rata_share}}</td>
                        <td>{{record.contract}}</td>
                        <td>{{record.sales}}</td>
                        <td>{{record.units}}</td>
                        <td>{{record.calculated_royalty}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <paginate
                    :page-count="pageCount"
                    :click-handler="searchRecords"
                    :prev-text="'Prev'"
                    :next-text="'Next'"
                    container-class="pagination justify-content-center pagination-sm"
                    active-class="page-item active"
                    disabled-class="page-item disabled"
                    page-class="page-item"
                    next-class="page-item"
                    prev-class="page-item"
                    page-link-class="page-link"
                    next-link-class="page-link"
                    prev-link-class="page-link"
            >
            </paginate>
        </div>
    </div>
    <!-- /.content-wrap -->
</template>
<script>
    import Paginate from 'vuejs-paginate'
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    import JsonExcel from 'vue-json-excel';
    
    import axios from 'axios';
    
    export default {
        data() {
            return {
                pageCount:     1,
                records:       [],
                record_fields: {
                    'company_code':       'company_code',
                    'company_name':       'company_name',
                    'payee_code':         'payee_code',
                    'payee_name':         'payee_name',
                    'account_code':       'account_code',
                    'account_name':       'account_name',
                    'sales_reference':    'sales_reference',
                    'catalog_code':       'catalog_code',
                    'product_title':      'product_title',
                    'format':             'format',
                    'artist_name':        'artist_name',
                    'track_title':        'track_title',
                    'isrc_code':          'isrc_code',
                    'track_code':         'track_code',
                    'territory_code':     'territory_code',
                    'territory_name':     'territory_name',
                    'price_line':         'price_line',
                    'dist_channel_code':  'dist_channel_code',
                    'sales_channel':      'sales_channel',
                    'sales_source':       'sales_source',
                    'value_converted':    'value_converted',
                    'rate_type':          'rate_type',
                    'rate_payable':       'rate_payable',
                    'pro_rata_share':     'pro_rata_share',
                    'contract':           'contract',
                    'sales':              'sales',
                    'units':              'units',
                    'calculated_royalty': 'calculated_royalty'
                },
                isrc:          [],
                label:         [],
                artist:        [],
                product_title: [],
                country:       [],
                order:         [],
                options:       []
                
            }
        },
        components: {
            'paginate':       Paginate,
            'v-select':       vSelect,
            'download-excel': JsonExcel
        },
        computed:   {},
        created() {
            axios.get(`/api/records/search?isrc=${this.isrc.join(';')}&label=${this.label.join(';')}&artist=${this.artist.join(';')}&q=${this.product_title.join(';')}&consumer_country=${this.country.join(';')}&order=${this.order}&page=1`)
                .then(({data}) => {
                    this.records = data.data;
                    this.pageCount = data.last_page;
                });
        },
        methods:    {
            color(colors) {
                return this.colors[Math.floor(Math.random() * colors.length)];
            },
            async getAllRecords() {
                Dashmix.layout('header_loader_on');
                const response = await axios.get(`/api/records/download/csv?isrc=${this.isrc.join(';')}&label=${this.label.join(';')}&artist=${this.artist.join(';')}&q=${this.product_title.join(';')}&consumer_country=${this.country.join(';')}&order=${this.order}`);

                Dashmix.layout('header_loader_off');
                return response.data;
            },
            downloadRecords() {
                Dashmix.layout('header_loader_on');
                axios({
                    url:          `/api/records/download/pdf?isrc=${this.isrc.join(';')}&label=${this.label.join(';')}&artist=${this.artist.join(';')}&q=${this.product_title.join(';')}&consumer_country=${this.country.join(';')}&order=${this.order}`,
                    method:       'GET',
                    responseType: 'blob', // important
                }).then((response) => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'records.pdf'); //or any other extension
                    document.body.appendChild(link);
                    link.click();
                });
                Dashmix.layout('header_loader_off');
            },
            searchRecords(page = 1) {
                Dashmix.layout('header_loader_on');
                axios.get(`/api/records/search?isrc=${this.isrc.join(';')}&label=${this.label.join(';')}&artist=${this.artist.join(';')}&q=${this.product_title.join(';')}&consumer_country=${this.country.join(';')}&order=${this.order}&page=${page}`)
                    .then(({data}) => {
                        this.records = data.data;
                        this.pageCount = data.last_page;
                    });
                Dashmix.layout('header_loader_off');
            },
            getOptions(column) {
                Dashmix.layout('header_loader_on');
                this.options = [];
                axios.get(`/api/records/options/${column}`)
                    .then(({data}) => {
                        this.options = data;
                    });
                Dashmix.layout('header_loader_off');
            }
        },
        props:      {
            colors:   Array,
            category: String
        }
    }
</script>